<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Add Category</h5>
              <div class="card">
                <div class="card-body">
                  <form method="post" action="{% url 'update_category' dataid=category.id %}" enctype="multipart/form-data">
                      {% csrf_token %}


                    <div class="mb-3">
                      <label  class="form-label">Category</label>
                      <input type="text" class="form-control"  aria-describedby="emailHelp" name="category" value="{{category.Category_Name}}">
<!--                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Description</label>
                        <textarea class="form-control" name="desription">{{category.Category_Description}}</textarea>
                    </div>
                    <div class="mb-3">
                      <label  class="form-label">Image</label><br>
                        <img src="{{category.Category_Image.url}}" width="100px" height="100px">

                      <input type="file" class="form-control" name="img">
                    </div>
<!--                    <div class="mb-3 form-check">-->
<!--                      <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                      <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--                    </div>-->
                    <button type="submit" class="btn btn-primary">Submit</button>

                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>
</body>
</html>
{% endblock %}